h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.input-section {
  background-color: blue;
  padding-top: 40px;
  padding-bottom: 30px;
}

.search-selector-container {
  display:inline-flex;
  width:100%;
  max-width:50%;
  text-align: center;
  justify-content: space-around;
}

.search-selector{
  cursor: pointer;
  border:1px solid grey;
}

.input-form {
  text-align: center;
}

.input-field {
  width:100%;
  max-width:50%;
}

.results-section {
  background-color:green;
}

.list-item {
  text-align: center;
  display:block;
}
