body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top:10px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

h3 {
  font-size:2rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;;
}

.input-section {
  /*background-color: blue;*/
  padding-top: 40px;
  padding-bottom: 30px;
}

.search-selector-container {
  display:inline-flex;
  width:100%;
  max-width:50%;
  text-align: center;
  justify-content: space-around;
}

.search-selector{
  cursor: pointer;
}

.input-form {
  text-align: center;
}

.input-field {
  width:100%;
  max-width:50%;
  margin-bottom: 10px;
}

.results-section {
  /*background-color:green;*/
}

.list-item {
  text-align: center;
  display:block;
  cursor: pointer;
}

.modal-container {
  display:none;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:5;
}

.modal-background {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  cursor:pointer;
  z-index:10;
}

.modal {
  position: fixed;
  top:10%;
  left:10%;
  right:10%;
  bottom:10%;
  background-color:white;
  z-index:15;
  border-radius: 20px;
}

.modal-image {
  height:60%;
  text-align: center;
  background-color: black;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.modal-text {
  margin: 10px 10px 10px 10px;
}

.spinner {
  display:none;
  width:300px;
  height:210px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translateX(-150px);
  z-index:20;
  background: url('filmreelspinner.gif') no-repeat center;
}
